li{
    color: purple;
    font-size: larger;
    font-style: calc();
}
a:hover{
    text-decoration: none;
    background-color: blue;
    color: red;
}


a:active{
    text-decoration: underline;
      color: red;
}

a:active{
    text-decoration: underline;
      color: red;
}

a:visited{
    text-decoration: underline;
      color: forestgreen;
}
span{
    display: inline-block; 
    background-color: aquamarine;
    color:black;
    font-style: oblique;
    width: 50px ;
    height: 25px;
    padding: 20px 10px;
    /* border: 3px double ; */
    /* border : 3px ridge black; */
    border : 10px outset blue;
    /* margin-top: 8px;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 20px; */
    margin: 25px 5px;


}
