.darkgrey-white{
    background-color:darkslategrey;
    color: whitesmoke;   
}

.container{
    background-color:darkgrey;
    
}

.card-body{
    background-color:darkslategrey;
    color:darkgray;
    border-radius: 10px;
    
}

.form-control{
    background-color:darkslategray;
    color:darkgray;
   
}