.darkgrey-white{
    background-color:darkslategrey;
    color: white;   
}

.container{
    background-color:darkgrey;
}

.card-body{
    background-color:darkslategrey;
    color:darkgray;
}

.form-control{
    background-color:darkslategray;
    color:darkgray;
}